@font-face{
  font-family: '29lt-makina';
  src: url('./font/29lt-makina-regular.otf') format('opentype');
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}